<!DOCTYPE html>
<html>

<head>
    <title>Director</title>
</head>

<body>
    <h1>Director {{ title }}</h1>
    {% include "buttons.html" %}
    <table>
        <thead>
            <tr>
                <th style="text-align: left;">Director</th>
            </tr>
        </thead>
        <tbody>
            {% for person in directors %}
            <tr>
                <td><a href="/related-movies/{{ person.id }}?name={{ person.name }}">{{ person.name }}</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>

</html>