<!DOCTYPE html>
<html>

<head>
    <title>Director</title>
</head>

<body>
    <h1>Director {{ title }}</h1>
    <table>
        <thead>
            <tr>
                <th style="text-align: left;">Nombre</th>
            </tr>
        </thead>
        <tbody>
            {% for person in items %}
            <tr>
                <td>{{ person.name }}</td>
                <td><a href="/related-movies/{{ person.id }}?name={{ person.name }}">Películas</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    <form action="/" method="get" style="display:inline;">
        <button type="submit">🏠</button>
    </form>
    <button onclick="goBack()">Atrás</button>
    <script>
        function goBack() {
            window.history.back();
        }
    </script>
</body>

</html>