<!DOCTYPE html>
<html>
<head>
    <title>Lista de Peliculas</title>
</head>
<body>
    <h1>Lista de Películas</h1>
    <table>
        <thead>
            <tr>
                <th style="text-align: left;">Título original</th>
                <th style="text-align: left;">Título</th>
                <th style="text-align: left;">Fecha de lanzamiento</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
            <tr>
                <td>{{ item.original_title }}</td>
                <td>{{ item.title }}</td>
                <td>{{ item.release_date }}</td>
                <td><a href="/item/{{ item.id }}">Reparto</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    <button onclick="window.location.href='/'">Inicio</button>
</body>
</html>
